
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    min-width: 550px;
    height: 100%;
}

body *{
    border: solid black 2px;
}

#btn-panel, .btn-row{
    border: 0px;
}

#face{
    padding: 50px;
    background-color:antiquewhite;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#display{
    height:150px;
    background-color: aquamarine;
    border-radius: 10px;
}

#btn-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

.btn-row{
    display: flex;
    gap:10px;
}

button{
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin: 0;
}
#btn-equals{
    width: 210px;
}