:root{
    --grid-size : 600px;
    --pixel-border-color: white;
    --pixel-border-size: 1px;
}


body {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
    min-width: 750px;

}

#midStrip{
    padding: 0 10px 0;
    width: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#face{
    height: 720px;
    padding: 50px;
    background-color:antiquewhite;
    border-radius: 30px;
    flex:0 0 auto;
}

#display{
    height:50px;
    background-color: aquamarine;
}